# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build-good/5be8b904b177ae1ba0ec.worker.js
build-good/5be8b904b177ae1ba0ec.worker.js.LICENSE.txt
build-good/5be8b904b177ae1ba0ec.worker.js.map
build-good/asset-manifest.json
build-good/atracdenc.js
build-good/da1ce82bb534c9e352de.worker.js
build-good/da1ce82bb534c9e352de.worker.js.LICENSE.txt
build-good/da1ce82bb534c9e352de.worker.js.map
build-good/extra-service-worker.js
build-good/favicon.ico
build-good/ffmpeg-core.js
build-good/final-service-worker.js
build-good/index.html
build-good/manifest.json
build-good/MiniDisc192.png
build-good/MiniDisc512.png
build-good/precache-manifest.bd04f45b978826d75e8f3b18cb6dae6c.js
build-good/recorderWorker.js
build-good/robots.txt
build-good/service-worker.js
build-good/worker.dev.js
build-good/worker.min.js
build-good/static/css/main.286ebc43.chunk.css
build-good/static/css/main.286ebc43.chunk.css.map
build-good/static/js/2.6be6ff61.chunk.js
build-good/static/js/2.6be6ff61.chunk.js.LICENSE.txt
build-good/static/js/2.6be6ff61.chunk.js.map
build-good/static/js/main.1351215d.chunk.js
build-good/static/js/main.1351215d.chunk.js.map
build-good/static/js/runtime-main.d2888cfe.js
build-good/static/js/runtime-main.d2888cfe.js.map
build-good/static/media/chrome-icon.f3b6c54c.svg
build-good/static/media/LCDDot-Regular.1cb04ca6.woff2
build-good/static/media/LCDDot-Regular.5bca0e62.ttf
build-good/static/media/LCDDot-Regular.70bbb7a2.svg
build-good/static/media/LCDDot-Regular.7228d5e9.woff
build-good/static/media/LCDDot-Regular.f9fc1d8a.eot
build-good/static/media/material-icons.a6229cd1.woff2
build-good/static/media/md0.a7574f83.svg
build-good/static/media/md1.1ffb5f6c.svg
build-good/static/media/md2.33dd03b3.svg
build-good/static/media/md3.80f42826.svg
build-good/static/media/ms_sans_serif_bold.cb1c7473.woff2
build-good/static/media/ms_sans_serif.1d4d404a.woff2
build-good/static/media/record-complete-notification-icon.f6ae1070.png
build-good/static/media/roboto-v27-latin-100.04b7fd97.woff
build-good/static/media/roboto-v27-latin-100.efdab736.woff2
build-good/static/media/roboto-v27-latin-300.80fe119e.woff2
build-good/static/media/roboto-v27-latin-300.bf0f4071.woff
build-good/static/media/roboto-v27-latin-500.da2721c6.woff
build-good/static/media/roboto-v27-latin-500.f00e7e44.woff2
build-good/static/media/roboto-v27-latin-700.68d6dabf.woff
build-good/static/media/roboto-v27-latin-700.bf28241e.woff2
build-good/static/media/roboto-v27-latin-regular.aa23b7b4.woff2
build-good/static/media/roboto-v27-latin-regular.dc3e086f.woff
