body, html {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#root {
    height: 100%;
}

div {
    outline: none;
}
h1 {
    text-align: center;
}
sup {
	font-size: 8px;
}
sub {
	font-size: 8px;
    vertical-align: top;
}
a.altlnk:link {
    color:grey;
    text-decoration:none
}
a.altlnk:hover {
    color:grey;
    text-decoration:underline
}
a.altlnk:visited {
    color:grey;
    text-decoration:none
}
ul.nobul {
    list-style-type: none;
}
